<div class="tableContainer">
  <table>
    <tr *ngFor="let product of allCartPoducts">
      <td>
        <input type="checkbox" [(ngModel)]="product.selected">
      </td>
      <td>
        <app-product-card (click)="writeProdJson(product)" class="card"
                          [image]="product.image"
                          [price]="product.price"
                          [description]="product.description"
                          [name]="product.name"
                          [product]="product.product"
                          [id]="product.id"></app-product-card>
        <!--<div class="productContainer">
           <table>
             <colgroup>
               <col style="width: 5%;">
               <col style="width: 60%;">
               <col style="width: 35%;">
             </colgroup>
             <tbody>
             <tr>
               <td><img src="product"></td>
             </tr>
             </tbody>
           </table>
        </div>-->
      </td>
    </tr>
  </table>
</div>
<h1>Контактные данные</h1>
<h2>ФИО</h2>
<input [(ngModel)]="name">
<h2>Почта</h2>
<input [(ngModel)]="eMail"  type="email">
<h2>Телефон</h2>
<input [(ngModel)]='tel' type="tel">
<h2>ВК</h2>
<input [(ngModel)]='VK'>
<button (click)=" getSelectedProducts().length > 0 ? sendEmail(''): null; getSelectedProducts()">Заказать</button>
<div id="vkOrder">

<h2>Почта для тестов, на нее придет сообщение</h2>
<input [(ngModel)]='testEMail'>

</div>




