<nav class="navbar navbar-expand-lg navbar-light bg-light, header">
  <a class="navbar-brand" (click)="router.navigate(['/admin'])">RZM</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Главная <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <!-- Боковая панель -->
  <aside class="sidebar">
    <h2>Фильтры</h2>
    <div class="filter-section">
      <h3>Поиск</h3>
      <div class="searchBarContainer"  >
        <input #searchBox class="form-control mr-sm-2 searchBar" [(ngModel)]="searchBarText" (ngModelChange)="searchBarHelper($event)"  (keyup.enter)="filterObj.name_nom = searchBox.value; Filter2()" type="search" list="options" placeholder="Найти на РЖМ" aria-label="Search">
        <datalist id="options">
          <option *ngFor="let product of searchBarHelpList" value="{{product}}">
        </datalist>
        <button type="submit" class="btn btn-outline-success my-2 my-sm-0 searchBarBtn" (click)="filterObj.name_nom = searchBox.value; Filter2()">Найти</button>
      </div>
    </div>
    <div class="filter-section">
      <h3>Тип ПС</h3>
      <ul>
        <li *ngFor="let group of Object.keys(allGroups)"><label><input  (change)="onCheckboxChangeGroup($event, group)" type="checkbox" name="group" > {{ group }}</label></li>
      </ul>
    </div>
    <div class="filter-section">
      <h3>Категория</h3>
      <ul>
        <li *ngFor="let podGroup of Object.keys(allType)"><label><input (change)="onCheckboxChangeType($event, podGroup)" type="checkbox" name="podgroup"> {{ podGroup }}</label></li>
      </ul>
    </div>
    <div class="filter-section">
      <h3>Товар</h3>
      <ul>
        <li *ngFor="let podGroup of Object.keys(allPodGroups)"><label><input (change)="onCheckboxChangePodGroup($event, podGroup)" type="checkbox" name="podgroup"> {{ podGroup }}</label></li>
      </ul>
    </div>
    <div class="filter-section">
      <h3>Масштаб</h3>
      <ul>
        <li *ngFor="let podGroup of Object.keys(allScale)"><label><input type="checkbox" name="podgroup"> {{ podGroup }}</label></li>
      </ul>
    </div>
    <div class="filter-section">
      <h3>Производитель</h3>
      <ul>
        <li *ngFor="let podGroup of Object.keys(allBodyMaid)"><label><input (change)="onCheckboxChangeBodyMaid($event, podGroup)" type="checkbox" name="podgroup"> {{ podGroup }}</label></li>
      </ul>
    </div>
    <div class="filter-section">
      <h3>Доступность</h3>
      <ul>
        <li *ngFor="let podGroup of Object.keys(allAvailable)"><label><input (change)="onCheckboxAvailable($event, podGroup)" type="checkbox" name="podgroup"> {{ podGroup }}</label></li>
      </ul>
    </div>
  </aside>
  <!--Панель тваров-->

  <main class="product-table">
    <div style="height: 200px" *ngFor="let product of filteredNOM">
      <app-product-card (click)="sendProductPageData(product.id)" class="card"
        [image]="product.frontpic_nom"
        [price]="product.cash_nom"
        [description]="product.description"
        [name]="product.name_nom"
        [product]="product.podgrupp_nom"></app-product-card>
    </div>
  </main>
</div>

