<app-header></app-header>
<div class="container2">



  <!-- Боковая панель -->
  <aside class="sidebar">
    <h2>Фильтры</h2>
    <div class="filter-section">
      <h3>Поиск</h3>
      <div class="searchBarContainer"  >
        <input #searchBox class="form-control mr-sm-2 searchBar" [(ngModel)]="searchBarText" (ngModelChange)="searchBarHelper($event)"  (keyup.enter)="filterObj.name_nom = searchBox.value; Filter2()" type="search" list="options" placeholder="Найти" aria-label="Search">
        <datalist id="options">
          <option *ngFor="let product of searchBarHelpList" value="{{product}}">
        </datalist>
        <button type="submit" class="btn btn-outline-success my-2 my-sm-0 searchBarBtn" (click)="filterObj.name_nom = searchBox.value; Filter2()">Найти</button>
      </div>
    </div>

    <div style="margin: 0; padding: 0; border: 0;" >
      <div class="filter-section" *ngFor="let item of dropdownItems; let i = index">
        <div class="dropdown">
          <button class="dropdown-toggle" (click)="toggleDropdown(i)">
            {{ item.title }}
          </button>

          <div class="dropdown-content" [ngClass]="{ 'show': isOpenList[i] }">
            <label *ngFor="let option of item.options">
              <input type="checkbox" name="option-{{ i }}" [value]="option"> {{ option }}
            </label>
          </div>
        </div>
      </div>
    </div>

  </aside>
  <!--Панель тваров-->

  <main style="width: 100%; margin-right: 0">
    <div class="product-table">
      <div style=" width: 18%;" *ngFor="let product of filteredNOM">
        <app-product-card (click)="sendProductPageData(product.id)" class=""
                          [image]="product.frontpic_nom"
                          [price]="product.cash_nom"
                          [description]="product.description"
                          [name]="product.name_nom"
                          [product]="product.podgrupp_nom"
                          [id]="product.id"></app-product-card>
      </div>
    </div>

  </main>
</div>
