/* Общие стили */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  display: flex;
}
.header{
  position: fixed;
  width: 100%;
}

.btn{
  background-color: rgba(240, 130, 33, 1);
  border-radius: 10px;
  border: none;
  height: 100%;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active >
a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: white; /*BACKGROUND color for active*/
  background-color: #030033;
}

/* Контейнер */
.container {
  display: flex;
  flex-direction: column;
  width: calc(100% - 280px); /* Учитываем ширину sidebar */
  height: 100vh;
  margin-left: 280px; /* Чтобы контейнер не заходил на aside */
  padding: 0;
  padding-top: 50px;
  box-sizing: border-box;
}

/* Боковая панель */
.sidebar {
  width: 280px; /* Фиксированная ширина */
  background-color: #b56969;
  padding: 20px;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px; /* Убираем скругление, чтобы примыкало */
  height: 90vh;
  overflow-y: auto;
  position: fixed;
  left: 0;
  top: 8lvh;
  bottom: 0;
}

.sidebar ::-webkit-scrollbar {
  display: none;
}
/* Для Firefox */
.sidebar {
  scrollbar-width: none;
}

/* Для IE и Edge */
.sidebar {
  -ms-overflow-style: none;
}

.sidebar h2 {
  font-size: 22px;
  color: #fff;
}

.filter-section {
  margin-bottom: 15px;
}

.filter-section h3 {
  font-size: 16px;
  color: #f8f8f8;
  margin-bottom: 8px;
}

.filter-section ul {
  list-style-type: none;
  padding: 0;
}

.filter-section ul li {
  margin-bottom: 8px;
}

.filter-section ul li label {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #ffffff;
}

.filter-section ul li input {
  margin-right: 10px;
}

/* Основная область товаров */
.product-table {
  flex-grow: 1;

  /*background-color: #ffffff;*/
  padding: 20px;
  padding-bottom: 0;
  /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);*/
  border-radius: 8px;
  overflow-y: auto;
  max-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  row-gap: 0px;
  width: 100%;

}

.card {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  transition: transform 0.2s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}

.searchBarContainer{
  display: flex;
  flex-direction: row;
}

.searchBar{
  max-width: 70%;
}
.searchBarBtn{
  background-color: #ee6c0d;
  border-color: #d75e0e;
  color: white;
}
