table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}



th {
  background-color: #f2f2f2;
}

img {
  max-width: 50px;
  height: auto;
}

mat-form-field {
  width: 300px;
}

.visible{

}

.hidden:not(.visible) {
  display: none;
}


td{
  width: 200px;
}

.disDialogB{
  text-overflow:ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 3lvw;
}
.nomId{
  text-overflow:ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 4lvw;
}

.addTable{
  padding: 5px;
  max-width: calc(100vw/10);

}

.addTableContainer{
  width: 100%;
  overflow-x: hidden;

}
.addProductTable{
  max-width: 100%;
}

.tableCell{
  width: 100%;
}

.table-container {
  width: 100%;
  overflow-x: auto;
}

.aligned-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed; /* фиксированное распределение столбцов */
  margin-bottom: 20px; /* отступ между таблицами */
}

.aligned-table th,
.aligned-table td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #ddd;
  word-wrap: break-word;
}

.aligned-table th {
  background-color: #f2f2f2;
}

/* Если используются изображения, ограничим их размер */
.aligned-table img {
  max-width: 50px;
  height: auto;
}

/* Класс для ячеек с элементами управления */
.tableCell {
  width: 100%;
  box-sizing: border-box;
}
