<!--Поиск-->
<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Название</th>
    <th>Тип ПС</th>
    <th>Категория</th>
    <th>Товар</th>
    <th>Масштаб</th>
    <th>Изготовитель</th>
    <th>Доступность</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Авто</td>
    <td>
      <!--<input [(ngModel)]="filterObj.name_nom" type="text">-->
      <select name="Название" [(ngModel)]="filterObj.name_nom" id="filterName"  (change)="Filter2()">
        <option value="" selected> Все</option>
        <option *ngFor="let group of Object.keys(allName)" value="{{group}}">
          {{group}}
        </option>
      </select>
    </td>
    <td><select name="Группа" [(ngModel)]="filterObj.grupp_nom" (change)="Filter2()" id="filterGroup">
      <option value="" selected>Все</option>
      <option *ngFor="let group of Object.keys(this.allGroups)" >
        {{group}}
      </option>
    </select>
    </td>
    <td>
      <select name="Тип" [(ngModel)]="filterObj.product_type" id="filterType" (change)="Filter2()">
        <option value="" selected >Все</option>
        <option *ngFor="let group of Object.keys(allType)">
          {{group}}
        </option>
      </select>
    </td>

    <!--    allGroups[product.grupp_nom]-->
    <td>
      <select name="Подгруппа" [(ngModel)]="filterObj.podgrupp_nom" id="filterPodGroup" (change)="Filter2()">
        <option value="" selected > Все</option>
        <option *ngFor="let group of Object.keys(allPodGroups)" >
          {{group}}
        </option>
      </select>
    </td>
    <td>
      <select name="Подгруппа" [(ngModel)]="filterObj.scale_nom">>
      <option value="" selected disabled hidden>Выбрать</option>
      <option *ngFor="let group of Object.keys(allScale)" >
        {{group}}
      </option>
    </select>
    </td>
    <td>
<!--      <input [(ngModel)]="newNOM.bodymaid_nom" type="text">-->
          <select name="Изготовитель" [(ngModel)]="filterObj.bodymaid_nom" (change)="Filter2()">
            <option value="" selected >Все</option>
            <option *ngFor="let group of Object.keys(allBodyMaid)" >
              {{group}}
            </option>
          </select>
    </td>
    <td>
<!--      <input [(ngModel)]="newNOM.available_nom" type="number" id="filterAvailable" (change)="Filter2()">-->
      <select name="Доступность" [(ngModel)]="filterObj.available_nom" (change)="Filter2()">
        <option value="" selected >Все</option>
        <option *ngFor="let group of Object.keys(allAvailable)" >
          {{group}}
        </option>
      </select>
    </td>
    <td>
      <button (click)="reserFilter()"> Сброс</button>
    </td>
  </tr>

  </tbody>
</table>
<div>
  <table id="nomTable">
    <thead>
    <tr>
      <th>ID</th>
      <th>Название</th>
      <th>Тип ПС</th>
      <th>Категория</th>
      <th>Товар</th>
      <th>Масштаб</th>
      <th>Изготовитель</th>
      <th>Доступность</th>
      <th>Цена</th>
      <th>Описание</th>
      <th>Изображение</th>
    </tr>
    </thead>
    <tbody>
<!--    [class.hidden]="Filter(product)"-->
<!--    [class.visible]="!emptyFilter() "-->
      <tr *ngFor="let product of filteredNOM">
        <td class="nomId">{{product.id}}</td>
        <td>{{product.name_nom}}</td>
        <td>{{product.grupp_nom}}</td>
        <td>{{product.product_type}}</td>
        <td>{{product.podgrupp_nom }}</td>
        <td>{{product.scale_nom}}</td>
        <td>{{product.bodymaid_nom}}</td>
        <td>{{product.available_nom}}</td>
        <td>{{product.cash_nom}}</td>
        <td>
          <div class="disDialogB">
            <a (click)="openDescriptionDialog(product.description)">{{product.description}}</a>
          </div>
        </td>
        <td><img src="{{product.frontpic_nom}}" alt="Image"></td>
        <td><button (click)="openEditorDialog(product.id, product)">Редактировать</button></td>
      </tr>
    </tbody>
  </table>
</div>

<!--<div>-->
<!--  <input-->
<!--    type="file"-->
<!--    accept="image/*"-->
<!--    multiple-->
<!--    class="form-control-file"-->
<!--    (change)="onFileSelected($event)"-->
<!--  />-->
<!--</div>-->
<!--<div>Добавить товар</div>-->
<!--<div>-->
<!--  <div *ngFor="let image of images">-->
<!--    <img src="{{image}}">-->
<!--    <b>{{image }}</b>-->
<!--  </div>-->
<!--  <button (click)="addNOMImage(allNOMID[0], images[0])">Добавить изображение</button>-->
<!--</div>-->
<div class="addTableContainer">
  <table class="addProductTable">
    <thead>
    <tr>
      <th class="addTable">Название</th>
      <th class="addTable">Тип ПС</th>
      <th class="addTable">Категория</th>
      <th class="addTable">Товар</th>
      <th class="addTable">Масштаб</th>
      <th class="addTable">Изготовитель</th>
      <th class="addTable">Доступность</th>
      <th class="addTable">Цена</th>
      <th class="addTable">Описание</th>
      <th class="addTable">Изображение</th>
      <th class="addTable"></th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td class="addTable">
        <select name="Название" [(ngModel)]="newNOM.name_nom">
          <option value="" selected >Выбрать</option>
          <option *ngFor="let group of Object.keys(allName)" >
            {{group}}
          </option>
        </select>
      </td >
      <td class="addTable"><select name="Группа" [(ngModel)]="newNOM.grupp_nom">>
        <option value="" selected disabled hidden>Выбрать</option>
        <option *ngFor="let group of Object.keys(this.allGroups)" >
          {{group}}
        </option>
      </select>
      </td>
      <td class="addTable"><select name="Тип" [(ngModel)]="newNOM.product_type">
        <option value="" selected disabled hidden>Выбрать</option>
        <option *ngFor="let group of Object.keys(allType)">
          {{group}}
        </option>
      </select>
      </td>

      <!--    allGroups[product.grupp_nom]-->
      <td class="addTable">
        <select name="Подгруппа" [(ngModel)]="newNOM.podgrupp_nom">>
          <option value="" selected disabled hidden>Выбрать</option>
          <option *ngFor="let group of Object.keys(allPodGroups)" >
            {{group}}
          </option>
        </select>
      </td>
      <td class="addTable">
        <select name="Подгруппа" [(ngModel)]="newNOM.scale_nom">>
          <option value="" selected disabled hidden>Выбрать</option>
          <option *ngFor="let group of Object.keys(allScale)" >
            {{group}}
          </option>
        </select>
      </td>
      <td class="addTable">
        <select name="Изготовитель" [(ngModel)]="newNOM.bodymaid_nom">
          <option value="" selected disabled hidden>Выбрать</option>
          <option *ngFor="let group of Object.keys(allBodyMaid)" >
            {{group}}
          </option>
        </select>
      </td>
      <td class="addTable">
        <select name="Доступность" [(ngModel)]="newNOM.available_nom">
          <option value="" selected >Все</option>
          <option *ngFor="let group of Object.keys(allAvailable)" >
            {{group}}
          </option>
        </select>
      </td>
      <td class="addTable">
        <input [(ngModel)]="newNOM.cash_nom" type="number">
      </td>
      <td class="addTable">
        <button (click)="openAddDescriptionDialog()">Добавить описание</button>
      </td>
      <td class="addTable">
        <input  type="file"
                id="fileInput"
                accept="image/*"
                multiple
                (change)="onFileSelected($event)">
      </td>
      <td class="addTable">
        <button (click)="addNewNOM(newNOM)">Добавить</button>
      </td>
    </tr>
    </tbody>
  </table>

</div>



