table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

img {
  max-width: 50px;
  height: auto;
}

mat-form-field {
  width: 300px;
}

.visible{

}

.hidden:not(.visible) {
  display: none;
}

.firstTd {
  width: 300px; /* Ширина ячейки */
  height: 50px; /* Высота ячейки */
}

td{
  width: 200px;
}

.disDialogB{
  text-overflow:ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 3lvw;
}
.nomId{
  text-overflow:ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 4lvw;
}

.addTable{
  padding: 5px;

}
