<h3 class="title">Редактор таблиц</h3>
<div>Выберите таблицу для редактирования</div>
<select #mode name="Название" [(ngModel)]="tableName" (change)="updateActiveTable()">
  <option value="" selected >Выбрать</option>
  <option value="Название">Название</option>
  <option value="Тип ПС"  >Тип ПС</option>
  <option value="Категория"  >Категория</option>
  <option value="Товар"  >Товар</option>
  <option value="Масштаб"  >Масштаб</option>
  <option value="Изготовитель"  >Изготовитель</option>
  <option value="Доступность"  >Доступность</option>
</select>

<h2 class="title">{{tableName}}</h2>
<div *ngIf="mode.value != ''" style="margin-bottom: 20px; margin-left: 5%">
  <div>Добавить новый документ</div>
  <input #newDocument type="text">
  <button (click)="addDocument(newDocument.value); reload()">добавить</button>
</div>
<div class="tableContainer">
  <div class="grid row" *ngFor="let data of Object.keys(activeTable)">
    {{data}}
    <button (click)="delete(data); reload()">Удалить</button>
    <button (click)="rename(data, newName.value); reload()">Переименовать</button>
    <input #newName type="text" placeholder="Новое название">
  </div>
</div>

<div mat-dialog-actions class="dialog-actions "></div>



